*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif
}

.container{
  width: 80%;
  margin: 30px auto;
  max-width: 1500px;
  min-width: 600px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.col{
  float: left;
}


.col.col-left{
  width: 32.33%;
  margin-right: 1.5%;
}

.col.col-center{
  width: 32.33%;
  margin-right: 1.5%;
}

.col.col-right{
  width: 32.33%;
}

.col .image{
  height: 700px;
  background-size: cover;
  background-position: center;
}

.image.img-1{
  background-image: url('../assets/img/img/img/1.webp');
}

.image.img-2{
  background-image: url('../assets/img/img/img/2.webp');
}

.image.img-3{
  background-image: url('../assets/img/img/img/3.webp');
}

.image.img-4{
  background-image: url('../assets/img/img/img/4.webp');
}

.image.img-5{
  background-image: url('../assets/img/img/img/5.webp');
}

.image.img-6{
  background-image: url('../assets/img/img/img/6.webp');
}

